.jumbotron {
	background-image: url('img/cotopaxi.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 150px;
	padding-left: 100px;
	color: gray;
}

.row {
	border-bottom: 1px solid #dbdbdb;
	padding-top: 50px;
    padding-bottom: 50px;
}

.row-social{
	padding-top: 25px;
    padding-bottom: 40px;
	text-align: center;
}

.navbar {
	margin-bottom:0;
}

.row-social li {
  display: inline;
}